<!DOCTYPE html>
<html>
<style>
    p {
        text-align: center;
        font-size: 40px;
        margin-top: 0px;
    }
</style>

<head>
    <meta charset=utf8>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body onload="showtime()">
    <link rel="stylesheet" type="text/css" href="counttime.css">
    <div id="app">
        <v-app id="inspire">
            <v-toolbar fixed app color="indigo" dark>
                <v-toolbar-title>
                    停止是弱者的体现
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn flat href="https://github.com/PhoenixNil">
                    <v-icon>fab fa-github</v-icon>反馈
                </v-btn>
                <div>
                    <v-dialog v-model="dialog" width="400">
                        <v-btn flat slot="activator">
                            <v-icon>help</v-icon>帮助
                        </v-btn>

                        <v-card>
                            <v-card-text>
                                设置时间，确定要做的事情
                            </v-card-text>

                            <v-divider></v-divider>
                        </v-card>
                    </v-dialog>
                </div>
                </v-btn>
                <v-btn flat>
                    <v-icon color='pink'>favorite</v-icon>感谢
                </v-btn>
                <v-btn flat href="https://www.glasstower.top/">
                    <v-icon>filter_frames</v-icon>关于
                </v-btn>
            </v-toolbar>
            <v-spacer></v-spacer>

            <v-content>
                <v-flex xs16 sm6 offset-sm3>
                    <v-carousel hide-controls>
                        <v-carousel-item v-for="(img,i) in imgs" :key="i" :src="img.src">
                        </v-carousel-item>
                    </v-carousel>
                    <v-card id="rest">
                    </v-card>
                </v-flex>
                <v-container fluid>
                    <div>
                        <p id="demo"></p>
                    </div>
                    <div class="text-xs-center">
                        <div>
                            <v-btn color="orange darken-2" dark Onclick="backSetURL()">
                                <v-icon dark left>arrow_back</v-icon>Back
                            </v-btn>

                            <v-btn color="red" dark onClick="stopCount()">
                                <v-icon dark>stop</v-icon>stop
                            </v-btn>
                            <v-btn color="green" dark onClick="startCount()">
                                <v-icon>cached</v-icon>restart
                            </v-btn>
                        </div>
                    </div>
                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="index2.js"></script>
    <script>
        require('./renderer.js')
    </script>
</body>

</html>