body
{
background-image:url('BG4.jpg');
background-repeat:no-repeat;
/* background-position: left; */
}
h1{
    text-align: center;
    float: right;
    font-size: 2.4em;
    letter-spacing: 0.05em;
    font-weight: 200;
    font-family:'Arial,Hiragino Sans GB','Microsoft Yahei',"WenQuanYi Micro Hei",SimSun,Tahoma,Helvetica,STHeiti;
}
.title{
  font: 400 22.1px 'Product Sans',Arial,Helvetica,sans-serif;
}
select{
  background:azure;  
  height:28px;  
  width:180px;  
  line-height:28px;  
  border:1px solid #9bc0dd;  
  -moz-border-radius:2px;  
  -webkit-border-radius:2px;  
  border-radius:2px; 
  font-size:15px;
  outline: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;

}
/* select:hover{
  outline: none;
  border: none;
  background:azure;
  color: #6698cb;
} */
.submit{
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    background: #FF416C;  
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  
    background: linear-gradient(to right, #FF4B2B, #FF416C);   
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
    font-family: 'Arial,Hiragino Sans GB','Microsoft Yahei',"WenQuanYi Micro Hei",SimSun,Tahoma,Helvetica,STHeiti;
    outline: none;
    padding: 8px 18px;
    /* overflow: hidden;
    text-decoration: none;
    /* transition: all 0.2s ease-out 0s; */
    /* border-radius: 2px; */
    border: 1px solid transparent;
}
.submit:active{
  background: gray;
}
.form{
    float:right;
    position: absolute;
    right: 100px;
    top: 250px;
}
.color {
	width: 377px;
    margin: 0 auto;
    right: 0px;
    bottom: 0px;
    position: absolute;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    

}
.color li {
	margin: 0 20px 0 0;
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 100%;
}
.color .red    {background: #fa5a5a;}
.color .yellow {background: #f0d264;}
.color .green  {background: #82c8a0;}
.color .cyan   {background: #7fccde;}
.color .blue   {background: #6698cb;}
.color .purple {background: #cb99c5;}
.color .pink   {background: #FFB6C1;}

.content, 
.content-gradient, 
.content-3d {
  margin: 40px auto;
}
.content {
  width: 80%;
  max-width: 700px;
  height: 20px;
}
.content-3d {
  width: 50%;
  max-width: 300px;
}
pre {
	width: 100%;
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.72);
	color: #f8f8f2;
	border-radius: 0 0 4px 4px;
	margin-top: 20px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
pre .bt  {color: #f8f8f2;} /* <> */
pre .anc {color: #f92672;} /* anchor tag */
pre .att {color: #a6a926;} /* attribute */
pre .val {color: #e6db74;} /* value */